/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


body {
    margin: 0;
    font-family: Roboto, sans-serif;
  }
  
  mat-card {
    max-width: 80%;
    margin: 2em auto;
    text-align: center;
  }
  
  mat-toolbar-row {
    justify-content: space-between;
  }
  
  .done {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
  }

  .mat-content {
    margin-left: 23px !important;
}
  
.mat-expansion-indicator {
  position: absolute;
}

.mat-expansion-indicator::after {
  transform: rotate(-45deg) !important;
}

.mat-expansion-indicator::before{
  transform: rotate(91deg) !important;
}
